
  .page-grid {
  	display: grid;
  	grid-template-areas: "left center right";
    grid-template-columns: 1fr 2fr 1fr;
  }


.page-grid-column1 { grid-area: left;     background-color: green;}
.page-grid-column2 { grid-area: center;     background-color: blue;}
.page-grid-column3 { grid-area: right;     background-color: orange;}